@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
}

.header-logo,
.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-img {
  width: 100%;
  object-fit: contain;
}

.hamburger-menu {
  margin-right: 35px;
  position: relative;
}
.hamburger-icon {
  font-size: 2rem;
  font-weight: 200;
  pointer-events: none;
  transition: transform 0.4s ease;
}

/* kada se aktivira hamburger meni*/
.hamburger-icon.active {
  transform: rotate(90deg);
}

.hamburger-menu-button {
  background-color: transparent;
  border: none;
  z-index: 100;
}

.hamburger-menu-button-close {
  font-size: 2rem;
}

.hamburger-menu-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(132, 132, 132);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* tranzicija */
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hamburger-menu-window-visibility {
  transform: translateX(0);
  opacity: 0.9;
  pointer-events: auto;
}

.hamburger-menu-items {
  margin-top: 200px;
  list-style: none;
}

.hamburger-menu-item {
  margin-bottom: 30px;
  align-self: center;
  justify-self: center;
}

.hamburger-menu-link {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: white;
  text-align: center;
}

.hamburger-socials {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(0, 0, 0, 0.322);
  padding: 1.2em 0;
}

.hamburger-socials i {
  font-size: 2.3rem;
  color: white;
}

.hero-section {
  width: 100%;
  margin-bottom: 1.6em;
}
.hero-intro,
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-intro {
  padding: 2em 0;
  background: #0b097e;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hero-p {
  font-size: 1.3rem;
  width: 80%;
  text-align: center;
  font-weight: 400;
}

.hero-intro p {
  color: white;
}

h1 {
  font-size: 2.5rem;
  margin: 0 0 0.3em 0;
  text-align: center;
  color: white;
  letter-spacing: 4px;
  font-weight: 800;
  line-height: 1;
  font-stretch: expanded;
}

.hero-image {
  width: 90%;
  margin: 2em auto;
}
.hero-image img {
  width: 100%;
  height: 50%;
}

.hero-text p {
  text-align: justify;
  color: #2f2e2e;
  font-weight: 500;
}

.hero-button {
  margin: 1.5em auto;
  padding: 0.8em 2.2em;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
  background-color: #0b097e;
  border: 3px solid #0b097e;
}

.partners-section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-section h2 {
  color: #0b097e;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.partners-list {
  width: 90%;
  margin: 3em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
}

.partner {
  display: flex;
  flex: 40%;
  justify-content: center;
  align-items: center;
}
.partner img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.hero-video-section {
  position: relative;
  width: 100%;
  height: 55vh;
  overflow: hidden;
}

.hero-video-section video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: -1;
}

.whyUs-section {
  width: 90%;
  margin: 2.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.whyUs-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.whyUs-card {
  flex: 1;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
  margin: 0 auto;
}

.whyUs-card h3 {
  font-size: 1.45rem;
  margin: 0.7em 0;
  font-weight: 700;
  color: #2f2e2e;
}

.whyUs-card i {
  font-size: 2rem;
  color: #212124;
}

.whyUs-card p {
  font-size: 1.25rem;
  color: #666;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.7px;
}

.jobs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6em 0;
}

.job-img img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.job {
  margin-top: -2px;
  background: #100f65;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 100%;
  padding: 1em 2em;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.job h3 {
  font-size: 2.3rem;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 1.3em;
}

.job button {
  padding: 0.3em 2.5em;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 2px;
  background-color: white;
  color: #0b097e;
  border: none;
}

.service-section {
  width: 90%;
  margin: 1.5em auto;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.service-section h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #212124;
}

.service-section p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: justify;
  color: #666;
  margin-bottom: 1em;
}

.service-section button {
  padding: 0.5em 1.5em;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: #0b097e;
  color: white;
  border: none;
}
