* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(215, 212, 212);
}
header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 2px solid rgb(73, 72, 72);
}

.header-logo,
.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo-img {
  width: 100%;
  object-fit: contain;
}

.hamburger-menu {
  margin-right: 35px;
  position: relative;
}
.hamburger-icon {
  font-size: 2rem;
  font-weight: 200;
  pointer-events: none;
  transition: transform 0.4s ease;
}

/* kada se aktivira hamburger meni*/
.hamburger-icon.active {
  transform: rotate(90deg);
}

.hamburger-menu-button {
  background-color: transparent;
  border: none;
  z-index: 100;
}

.hamburger-menu-button-close {
  font-size: 2rem;
}

.hamburger-menu-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(132, 132, 132);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* tranzicija */
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.hamburger-menu-window-visibility {
  transform: translateX(0);
  opacity: 0.9;
  pointer-events: auto;
  
}

.hamburger-menu-items {
  margin-top: 200px;
  list-style: none;
}

.hamburger-menu-item {
  margin-bottom: 30px;
  align-self: center;
  justify-self: center;
}

.hamburger-menu-link {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.hamburger-socials {
  margin-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hamburger-socials i {
  font-size: 1.6rem;
}

.hero-section{
  margin-top: 1.3em;
}
.hero-intro,.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-p {
  font-size: 1rem;
  width: 80%;
  text-align: center;
}

h1{
  font-size: 2.3rem;
  text-align: center;
  font-weight: bold;
  margin: 0.3em 0;
}

.hero-image{
  width: 90%;
  margin: 1.5em auto;
}
.hero-image img{
  width: 100%;
  height: 50%;
}

.hero-text p {
  text-align: justify;
}

.hero-button{
  margin: 1.5em auto;
  padding: 0.8em 2em;
  border: 1px solid black;
  border-radius: 20px;
}